:root {
	font-family: $text;
	background-color: $pistachio;
	color: $moss;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
	font-size: $base;
  line-height: $scale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $display;
  font-weight: bold;
  max-width: 20em;
  margin-top: 0;
  margin-bottom: $base;
}

h1 {
	font-size: $base * $scale * 3;
  line-height: 1;

  &.h1--huge {
    font-size: $base * $scale * 5;
  }
}

h2 {
	font-size: $base * $scale * 2;
  line-height: 1;
}

h3 {
  font-size: $base * $scale * 1.25;
  font-family: $alt;
}

h4 {
  font-size: $base * $scale;
  font-family: $alt;
}

h5 {
  font-size: $base * $scale;
}

h6 {
  font-size: $base / $scale;
  font-family: $alt;
  text-transform: uppercase;
}

p {
	line-height: $scale;
  max-width: 36em;
  margin-top: 0;
  margin-bottom: $base;
}

a {
	color: currentColor;
	text-decoration: none;
}

a[href]:hover {
	text-decoration: underline;
}

input,
button,
.button {
	font-size: inherit;
	color: inherit;
	font-family: inherit;
	text-transform: inherit;
  background: transparent;
  border: none;
	padding: $base/$scale $base;
}

button,
.button {
	cursor: pointer;
  font-family: $display;
  font-weight: bold;
  color: $pistachio;
  background: $moss;
  border-radius: $gap;

	&:hover,
	&:focus {
    color: $moss;
		background: $banana;
    text-decoration: none;
	}

  &.button--none {
    font-family: inherit;
    padding: 0;
    color: currentColor;
    background: transparent;
    border: none;
    border-radius: 0;
  }

  &.button--alt {
    color: $moss;
		background: $banana;
  }
}

button:focus:not(:focus-visible) {
	outline: none;
}

[hidden] {
  display: none;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: $base;
  padding-left: $gap;

  li {

    > p:last-child {
      margin-bottom: 0;
    }
  }
}

blockquote {
  position: relative;
  padding: 0 ($base * $scale * 2);

  &:before,
  &:after {
    content: "”";
    font-family: $alt;
    font-size: ($base * $scale * 1.5);

    position: absolute;
    bottom: 0;
    right: 0;
  }

  &:before {
    content: "“";
    position: absolute;
    bottom: auto;
    right: auto;
    top: -0.5em;
    left: 0;
  }
}