:root {
	font-family: $text;
	background-color: $pistachio;
	color: $moss;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
	font-size: $base;
  line-height: $scale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: $mobile) {
    font-size: $mobile_base;
    line-height: $mobile_scale;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $display;
  font-weight: bold;
  max-width: 20em;
  margin-top: 0;
  margin-bottom: $base;
}

h1 {
	font-size: $base * $scale * 3;
  line-height: 1;

  &.h1--huge {
    font-size: $base * $scale * 5;
    @media (max-width: $mobile) { font-size: $mobile_base * $mobile_scale * 2; }
  }
}

h2 {
	font-size: $base * $scale * 2;
  line-height: 1;

  @media (max-width: $mobile) { font-size: $mobile_base * $mobile_scale * 1.5; }
}

h3 {
  font-size: $base * $scale * 1.25;
  font-family: $alt;

  @media (max-width: $mobile) { font-size: $mobile_base * $mobile_scale; }
}

h4, h5, h6 {
  max-width: 36em;
}

h4 {
  font-size: $base * $scale;
  font-family: $alt;

  @media (max-width: $mobile) { font-size: $mobile_base * $mobile_scale; }
}

h5 {
  font-size: $base * $scale;
  @media (max-width: $mobile) { font-size: $mobile_base * $mobile_scale; }
}

h6 {
  font-size: $base / $scale;
  font-family: $alt;
  text-transform: uppercase;

  @media (max-width: $mobile) { font-size: $mobile_base / $mobile_scale; }
}

p {
  max-width: 36em;
  margin-top: 0;
  margin-bottom: $base;
  white-space: pre-line;
}

a {
	color: currentColor;
	text-decoration: none;
}

a[href]:hover {
	text-decoration: underline;
}

a[id] {
  scroll-margin-top: $gap * 5;
}

input,
button,
.button,
textarea,
select {
	font-size: inherit;
	color: inherit;
	font-family: inherit;
	text-transform: inherit;
  background: transparent;
  border: none;
	padding: $base/$scale $base;
}

input {
  border-bottom: 1px solid;
}

textarea {
  border: none;
  border-bottom: 1px solid;
}

button,
.button {
	cursor: pointer;
  font-family: $display;
  font-weight: bold;
  color: $pistachio;
  background: $moss;
  border-radius: $gap;

	&:hover,
	&:focus {
    color: $moss;
		background: $banana;
    text-decoration: none;
	}

  &.button--none {
    font-family: inherit;
    padding: 0;
    color: currentColor;
    background: transparent;
    border: none;
    border-radius: 0;
  }

  &.button--alt {
    color: $moss;
		background: $banana;
  }
}

button:focus:not(:focus-visible),
input,
textarea,
select {
	outline: none;
}

[hidden] {
  display: none;
}

hr {
  border: none;
  height: 1px;
  background-color: currentColor;
  margin: ($base * $scale) 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: $base;
  padding-left: $gap;

  li {

    > p:last-child {
      margin-bottom: 0;
    }
  }
}

blockquote {
  position: relative;
  padding: 0 ($base * $scale * 2);

  @media (max-width: $mobile) {
    padding: 0 ($mobile_base * $mobile_scale * 1);
  }

  &:before,
  &:after {
    content: "”";
    font-family: $alt;
    font-size: ($base * $scale * 1.5);

    position: absolute;
    bottom: 0;
    right: 0;
  }

  &:before {
    content: "“";
    position: absolute;
    bottom: auto;
    right: auto;
    top: -0.5em;
    left: 0;
  }
}

table {

  tr {

    th {
      font-weight: inherit;
      border-top: 1px solid;
      border-bottom: 1px solid;
    }

    td,
    th {
      text-align: left;
      padding: $base;
      vertical-align: top;

      &:first-child {
        padding-left: 0;
      }

      > p:last-child {
        margin-bottom: 0;
      }
    }
  }
}