// SIZES
$base: 18px;
$scale: 1.333333;
$gap: $base * $scale;

$mobile: 888px;
$mobile_base: 16px;
$mobile_scale: 1.275;
$mobile_gap: $mobile_base * $mobile_scale;

// FONTS
$display: 'Red Hat Display', sans-serif;
$text: 'Red Hat Text', sans-serif;
$alt: 'Noto Serif', serif;
$alt_display: 'Noto Serif Display', serif;

// COLORS
$black: #2F3631;
$moss: #1E675E;
$sage: #81A98F;
$faded_sage: fade-out(#81A98F, 0.7);
$pistachio: #C2E4C9;
$turquoise: #5AD0C9;
$banana: #FEFD7E;